*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body
{
    margin-top: 5%;
    margin-bottom: 1%;
}
.rating-text
{
    font-size: 2em;
}
.b
{
    margin-left: 43%;
}
@media only screen and (max-width: 576px) {
    .body
    {
        margin-top: 15%;
        margin-bottom: 0%;
    }
    .b
    {
        margin-left: 41%;
    }
}